<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>年级管理</title>
    <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/addnews.css}"/>


</head>
<style>
    .layui-card {
        box-shadow: #c0c0c0 0 1px 3px;
    }

    .layui-row .layui-form-item {
        padding: 0 5px;
    }
</style>
<body>

<table id="evlist" lay-filter="gradeTable"></table>



</body>

</html>


<script>
    layui.use(['jquery', 'layer', 'form', 'table', 'laydate'], function () {
        var $ = layui.$ //重点处
            , layer = layui.layer
            , form = layui.form
            , table = layui.table
            , layer = layui.layer
            , laydate = layui.laydate;

        var tableId;

        //获取分页数据列表
        tableId = table.render({
            elem: '#evlist'
            ,
            url: '/course/curriculum'
            ,
            cols: [
                [
                    {
                        field: 'scid',
                        title: '学生编号',
                        width: 200,
                        visible: false

                    }
                    , {field: 'sid', title: '课程id',visible: false}
                    , {field: 'cid', title: '课程id',visible: false}
                    , {field: 'stuid', title: '学生id',visible: false}
                    , {field: 'sname', title: '姓名'}
                    , {field: 'cname', title: '课程名'}
                    ,{field: 'classid', title: '班级id',visible: false}
                    ,{field: 'classname', title: '班级名字'}
                    ,{field: 'studytype', title: '班级名称'}
                ]
            ]
            ,
            even: true

        });
    });


</script>