<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>统计报表</title>
    <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/addnews.css}"/>


</head>
<style>
    .layui-card {
        box-shadow: #c0c0c0 0 1px 3px;
    }

    .layui-row .layui-form-item {
        padding: 0 5px;
    }
</style>
<body>
<form class="layui-form layui-form-pane" style="padding: 10px;">
    <div id="echarts1" style="width: 1300px;height: 500px;color: #00F7DE">

    </div>

    <div id="echarts2">

    </div>
</form>


</body>

</html>

<script type="text/javascript">
    layui.config({
        version: 1,
        base: './static/js/' //这个就是你放Echart.js的目录
    }).use(['element', 'echarts', 'carousel'], function () {
        var element = layui.element,
            $ = layui.jquery,
            carousel = layui.carousel,
            echarts = layui.echarts;
        var monitor = echarts.init(document.getElementById('echarts1'));
        // 指定图表的配置项和数据

        $.ajax({
            type: "GET",
            url: "http://localhost:8080/getLineByAttendance",
            data: null,
            // dataType: "json",
            success: function (data) {

                var dateList = data.data;
                var dateStrList = [];
                var dateCount = [];
                for (var i = 0 ; i < dateList.length ; i ++){
                    console.log(dateList[i].dateStr)
                    dateStrList[i] = dateList[i].dateStr;
                    dateCount[i] = dateList[i].count;
                }
                console.log(dateStrList)

                var option = {
                    title: {
                        text: '学生考勤统计图',
                        subtext: 'Student attendance statistics chart\n'
                    },
                    xAxis: {
                        type: 'category',
                        data: dateStrList
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            data: dateCount,
                            type: 'line'
                        }
                    ]
                };
                option && monitor.setOption(option);
            }
        })    //debugger;

        // 使用刚指定的配置项和数据显示图表。
        //monitor.setOption(option);

    });
</script>